.group {
  /* Dimensions include border and padding. */
  box-sizing: border-box;

  /* Groups fill available space to maximize the drop area. */
  height: 100%;
  display: flex;
  flex-direction: column;

  margin-left: 2px;
  margin-right: 2px;

  /* Make space for empty group borders. */
  border-width: var(--border-width);
  border-radius: var(--border-radius-friendly);
  border-style: solid;
  border-color: transparent;
}

.group:focus-within {
  border-color: var(--shade-dark-shadow);
}

.group__list {
  /* Lists flex to full height with overflow scrolling. */
  height: 100%;
  overflow-y: auto;
}

.group__handle {
  /* Handles fill the space even when empty so that the group doesn't disappear.
     min-width instead of width so that scrollbar spacing is including. */
  min-width: calc(var(--note-width) + var(--note-margin-horizontal) * 2);

  height: 32px;

  border-top-right-radius: var(--border-radius-friendly);
  border-top-left-radius: var(--border-radius-friendly);

  /* No standard focus outline. This is covered below. */
  outline-width: 0;
}

.group:not(.group--empty) > .group__list,
.group:hover > .group__list,
.group:not(.group--empty) > .group__handle,
.group:hover > .group__handle {
  background-color: var(--shade-light-shadow);
}
