.group {
  /* Dimensions include border and padding. */
  box-sizing: border-box;

  /* Groups fill available space to maximize the drop area. */
  height: 100%;
  display: flex;
  flex-direction: column;

  margin-left: 2px;
  margin-right: 2px;

  /* Make space for empty group borders. */
  border-width: var(--border-width);
  border-radius: var(--border-radius-friendly);
  border-style: solid;
  border-color: transparent;
}

.group:focus-within {
  border-color: var(--shade-dark-shadow);
}

.group__list {
  /* Lists flex to full height with overflow scrolling. */
  height: 100%;
  overflow-y: auto;
}

.group__handlebar-box {
  /* Align handle to line handles. */
  padding-left: var(--note-margin-horizontal);
  padding-right: var(--note-margin-horizontal);
}
