.table {
  /* Fill available space. */
  width: 100%;
  height: 100%;
}

.table__list {
  /* Arrange groups horizontally. */
  display: flex;

  /* Fill available space. */
  width: 100%;
  height: 100%;

  /* Contents scroll and snap to each group (list item). */
  overflow-x: auto;
  scroll-snap-type: x proximity;
}

.table__list-item {
  /* Snap to the left of each group. */
  scroll-snap-align: start;
}
