# Please see the compatibility section of the readme before revising.

# Rolling versions. These are expected to only ever become less restrictive as
# time goes on and not break the build.
last 2 chrome versions
last 2 firefox versions
last 2 safari versions
