.note {
  /* For the focus box-shadow to appear on top of the surroundings. */
  position: relative;

  /* These dimensions include any border and padding. */
  box-sizing: border-box;

  /* Add space for gripping. */
  --text-line-padding-top: var(--min-press-size);

  /* Add some spacing for distinction and the focus box-shadow. */
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  margin-left: 2px;

  /* Notes are pretty thin and translucent as is the ink. */
  color: var(--shade-black);

  /* Handwriting. */
  font-family: Brush Script MT, cursive;
  font-size: 16px;

  /* Show a pointing finger, not a cursor. */
  cursor: pointer;
}

.note:not(.note--divider) {
  width: 75mm;

  /* The corners are rounded. */
  border-radius: 1px 3px / 2px 0px;

  /* Notes are pretty thin and translucent. */
  background-color: var(--note--background-color, var(--shade-yellow));

  background-image:
    /* Adhesive. */ linear-gradient(
      rgba(0, 0, 0, 0.04) 11.5mm,
      rgba(0, 0, 0, 0) 14mm
    ),
    /* Paper. */ url(note-element-noise.png);

  /* Notes don't rest perfectly flat. */
  box-shadow: var(--box-shadow-bottom);
}

.note:focus-within:not(.note--divider) {
  /* Raise above menuing. */
  z-index: var(--z-index-focused-line);
  /* Outline the note like card UI and elevate dramatically. */
  box-shadow: var(--box-shadow-top), 3px 3px 4px 1px var(--shade-dark-shadow);
}

/* Grabble area. */
.note::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: var(--min-press-size);
}

.note--divider {
  width: 16px;
  height: 100%;

  /* Width changes on focus and hover states. Animate the transition. */
  transition-delay: 0.2s;
  transition-duration: 0.3s;
  transition-property: width;

  border-width: var(--border-width);
  border-radius: var(--border-radius);
  border-style: dashed;
  border-color: transparent;
}

.note--divider:hover,
.note--divider:focus-within {
  /* Show a dashed outline on hover if the card isn't already emphasized due to
     focus. */
  border-color: var(--color-dark-grey);
  width: 32px;
}
