.group-element {
  box-sizing: border-box;

  margin: var(--spacing);

  /* Arrange lines in columns from left to right. */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;

  /* flex-basis requires a defined height. */
  height: 99in;
}

.group-element__list-item--divider {
  /* The flex is on the list items, not the lines. Make the list item itself
     fill the full width. */
  flex-basis: 100%;
}
