.handlebar {
  /* No standard focus outline. This is covered below. */
  outline-width: 0;

  /* Handles have fixed-width regardless of whether they're within an empty
     group (no lines), some lines (no scrollbar), or many lines (scrollbar). */
  width: var(--note-width);

  /* Center content. */
  display: flex;
  align-items: center;
  justify-content: center;

  border-top-left-radius: var(--border-radius-friendly);
  border-top-right-radius: var(--border-radius-friendly);

  /* The handle is always on top of the text. */
  z-index: var(--z-index-handlebar);

  opacity: 0.25;

  transition: opacity 100ms ease-in-out, background 100ms ease-in-out;
}

.handlebar:hover,
.handlebar:focus {
  background-color: rgba(0, 0, 0, 0.03);
  opacity: 1;
}
