.list {
  /* Clear default list margin, padding, and style. */
  margin: 0;
  padding: 0;
  list-style: none;
}

.list__li {
  /* Clear default list item margins and paddings. */
  margin: 0;
  padding: 0;
}
