.dialog-card {
  /* Fix the element to the viewport and remove from layout flow. */
  position: fixed;
  top: 0;
  left: 0;

  /* Fill the viewport. */
  width: 100vw;
  height: 100vh;

  background-color: var(--shade-grey);

  z-index: var(--z-index-dialog);
}

.dialog-card__box {
  width: min(100%, var(--breakpoint));
  height: 100%;

  /* Center card. */
  margin-left: auto;
  margin-right: auto;
}
