.icon-button {
  min-width: 40px;
  min-height: 48px;

  /* Center the button. */
  text-align: center;
}

/* Icon-buttonish classes are shared by other icon-button-like components. */
.icon-buttonish__label {
  /* Dimensions include border and padding. */
  box-sizing: border-box;

  font-size: var(--font-size-small);

  /* Labels appear under buttons with fixed-width and centered content. */
  display: block;
  text-align: center;

  /* Don't allow content highlights. */
  user-select: none;

  margin-top: var(--button-margin);
  margin-right: var(--button-margin);
  margin-bottom: var(--button-margin);
  margin-left: var(--button-margin);

  /* Don't inherit. */
  font-weight: normal;
}

.icon-buttonish__label--hide {
  width: 0;
  height: 0;
  overflow: hidden;
}
