.app {
  /* Dimensions include border and padding. */
  box-sizing: border-box;

  /* The app always fills the screen exactly. Its children are responsible for
     their own overflows. */
  width: 100vw;
  height: 100vh;

  /* Arrange contents from top-to-bottom. */
  display: flex;
  flex-direction: column;

  background: var(--color-light-grey);

  /* Electron window rounded border.*/
  border-radius: var(--border-radius-friendly);
  overflow: hidden;
}

.app__main {
  /* Always fill available space. */
  flex-grow: 1;

  /* Contents scroll as needed. */
  overflow: auto;
}
