.line-text {
  /* These dimensions include any border and padding. */
  box-sizing: border-box;

  /* Absolutely positioned children are relative this container. */
  position: relative;

  /* Add a little border transition to make it standout on focus. */
  transition: border 100ms ease-in-out, background 100ms ease-in-out;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--border-radius-friendly);
  border-color: #0000;
}

.line-text::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-text) ' ';

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;

  /* Overflowing content breaks. */
  word-wrap: break-word;

  /* This is how textarea text behaves. */
  white-space: pre-wrap;
}

.line-text,
.line-text__text {
  padding: var(--text-line-padding-top, 8px) 8px 8px 8px;

  width: var(--line-text--width, 100%);
  height: var(--line-text--height, 100%);
}

.line-text__text {
  /* These dimensions include any border and padding. */
  box-sizing: border-box;

  /* Remove from flow and position in the top-left of the container. */
  position: absolute;
  top: 0;
  left: 0;

  /* Disable resizing and scrollbars. */
  resize: none;
  overflow: hidden;

  /* Disable the stock outline, border, and white background. */
  outline: none;
  border-width: 0;
  background: none;

  /* Inherit font and coloring. */
  font: inherit;
  color: inherit;

  user-select: none;
}

.line-text__text::selection {
  background: var(--shade-grey);
  color: var(--color-white);
}

.line-text__text:focus {
  /* [to-do] This doesn't seem to be working. */
  user-select: contain;
}

.line-text:focus-within {
  border-color: var(--tint-half-white);
  background-color: var(--tint-light-white);
}
