.group {
  margin: 8px;
}

.group__list {
  /* Always fill the available width. */
  width: 100%;

  /* Pack lines. */
  display: flex;

  /* Arrange lines from left to right. */
  flex-wrap: wrap;
}

.group__list-item--empty {
  /* The flex is on the list items, not the lines. Make the list item itself
     fill the full width. */
  flex-basis: 100%;
}
